{% extends "base.html" %}
{% load static %}
{% block content %}


<style>
    body {
        background-image: url("{% static 'samurai___cyberpunk_2077___wallpaper_engine_by_parzivalv_dea3fvi-pre.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
</style>

<link rel="stylesheet" href="{% static 'css/form_style.css' %}">

<h1 class="form-title">Submit General Petition</h1>
<form class="form-container" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-grid">
        {% for field in form %}
            <div class="form-field">
                <label>{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="submit-section">
        <button type="submit" class="submit-button">Submit Petition</button>
    </div>
</form>
{% endblock %}
